# Enable Django debug mode
# APP_DEBUG=True

SECRET_KEY=insecure-secret-key
LOGIN_CODE_SECRET=insecure-login-secret-key

APP_ENV=dev
APP_DEBUG=True
PUBLIC_BASE_URL=http://localhost:8087

# Comma separated list of tlds (e.g. ALLOWED_EMAIL_DOMAINS=example.com,example.org)
ALLOWED_EMAIL_DOMAINS=example.org

ADMIN_WEBSITE=https://www.thunderbird.net
ADMIN_CONTACT=dummy@example.org
SUPPORT_CONTACT=dummy@example.org

CSRF_SECURE=False
CSRF_HTTPONLY=False
# None value for this field
CSRF_TRUSTED_ORIGINS

# From Appointment
FXA_OPEN_ID_CONFIG=https://accounts.stage.mozaws.net/.well-known/openid-configuration
FXA_OAUTH_SERVER_URL=https://oauth.stage.mozaws.net/v1
FXA_PROFILE_SERVER_URL=https://profile.stage.mozaws.net/v1
FXA_CLIENT_ID=
FXA_SECRET=
FXA_CALLBACK=http://localhost:8087/api/v1/auth/fxa/callback
FXA_ALLOW_LIST=
FXA_ENCRYPT_SECRET=insecure-fxa-secret-key

# Django database settings (defaulting to docker-compose postgres image)
DATABASE_NAME=accounts
DATABASE_USER=accounts
DATABASE_PASSWORD=accounts
DATABASE_HOST=postgres

# Cache
REDIS_URL=redis://redis:6379
REDIS_INTERNAL_DB="0"
REDIS_CELERY_DB="5"
REDIS_CELERY_RESULTS_DB="6"
REDIS_SHARED_DB="10"

# Auth scheme
AUTH_SCHEME=fxa

IMAP_HOST=localhost
IMAP_PORT=993
IMAP_TLS=True

SMTP_HOST=localhost
SMTP_PORT=465
SMTP_TLS=True

JMAP_HOST=localhost
JMAP_PORT=443
JMAP_TLS=True

# MailChimp form URL for Wait List
WAIT_LIST_FORM_ACTION=

# Paddle integration
PADDLE_TOKEN=
PADDLE_ENV=sandbox
PADDLE_PRICE_ID_LO=
PADDLE_PRICE_ID_MD=
PADDLE_PRICE_ID_HI=

SENTRY_DSN=

# Celery
CELERY_BROKER=redis://redis:6379
CELERY_BACKEND=redis://redis:6379
CELERY_EAGER=False
