[server.listener."smtp"]
bind = ["[::]:25"]
protocol = "smtp"

[server.listener."submissions"]
bind = ["[::]:465"]
protocol = "smtp"
tls.implicit = true

[server.listener."imap"]
bind = ["[::]:143"]
protocol = "imap"

[server.listener."imaptls"]
bind = ["[::]:993"]
protocol = "imap"
tls.implicit = true

[server.listener."jmap"]
bind = ["[::]:8081"]
protocol = "http"

[server.listener."management"]
bind = ["[::]:8080"]
protocol = "http"

[storage]
data = "rocksdb"
fts = "rocksdb"
blob = "rocksdb"
lookup = "rocksdb"
directory = "kc"

[store."rocksdb"]
type = "rocksdb"
path = "%{env:MAIL_STALWART_PATH}%/data"
compression = "lz4"

[directory."internal"]
type = "internal"
store = "rocksdb"

[directory."kc"]
auth.method = "basic"
auth.secret = "Kfo2GJdGs2ItfiTgGPahXpT3yTKUlYOj"
auth.username = "stalwart"
bind.auth.method = "default"
cache.size = 1048576
cache.ttl.negative = "10m"
cache.ttl.positive = "1h"
endpoint.method = "introspect"
endpoint.url = "http://keycloak:8999/realms/tbpro/protocol/openid-connect/token/introspect"
fields.email = "username"
timeout = "15s"
type = "oidc"

[tracer."stdout"]
type = "stdout"
level = "info"
ansi = false
enable = true

[authentication.fallback-admin]
user = "admin"
secret = "%{env:ADMIN_SECRET}%"
