x-env: &env
  POSTGRES_DB: accounts
  POSTGRES_USER: accounts
  POSTGRES_PASSWORD: accounts
  TBA_DEV: yes
services:

  postgres:
    image: postgres:17
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5433:5432" # Note: host is exposed to 5433!
    environment:
      POSTGRES_USER: accounts
      POSTGRES_DB: accounts
      POSTGRES_PASSWORD: accounts
    # set shared memory limit when using docker-compose
    shm_size: 128mb

  # Keycloak's postgres database
  kcpostgres:
    image: postgres:17
    volumes:
      - kcdb:/var/lib/postgresql/data
    ports:
      - "5434:5434" # Note: host is exposed to 5434!
    environment:
      POSTGRES_USER: kc
      POSTGRES_DB: keycloak
      POSTGRES_PASSWORD: kc
      PGPORT: 5434
    # set shared memory limit when using docker-compose
    shm_size: 128mb

  redis:
    image: redis/redis-stack
    volumes:
      - cache:/data
    ports:
      - "6380:6379" # Redis exposed on port 6380
      - "8071:8001" # Insights exposed on port 8071

  accounts: &accounts
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8087:8087"
    environment:
      <<: *env
      ALLOWED_HOSTS: '*'
    volumes:
      - ./.env:/app/.env
      - ./.env.test:/app/.env.test
      - ./src/thunderbird_accounts:/app/src/thunderbird_accounts
      - ./assets:/app/assets
      - ./keycloak:/app/assets/keycloak
      - ./templates:/app/templates
    depends_on:
      - postgres
      - redis

  celery:
    <<: *accounts
    ports: []
    environment:
      <<: *env
      TBA_CELERY: yes

  # Only used when APP_DEBUG=True
  vite-dev:
    build:
      context: .
      dockerfile: ./Dockerfile
    # Run both vite devserver for accounts frontend, and the keycloak theme builder
    entrypoint: bash -c 'npm run dev & npm run dev-theme'
    ports:
      - "5173:5173"
    volumes:
      - ./.env:/app/.env
      - ./.env.test:/app/.env.test
      - ./vite.config.mts:/app/vite.config.mts
      - ./tsconfig.json:/app/tsconfig.json
      - ./src/thunderbird_accounts:/app/src/thunderbird_accounts
      - ./assets:/app/assets
      - ./templates:/app/templates
      - ./keycloak/themes:/app/keycloak/themes

  stalwart:
    image: stalwartlabs/stalwart:v0.13
    #build:
    #  context: ../stalwart
    #  dockerfile: Dockerfile
    volumes:
      - ./mail:/opt/stalwart
    ports:
      - "443:443"
      - "8080:8080"
      - "8081:8081"
      - "25:25"
      - "587:587"
      - "465:465"
      - "143:143"
      - "993:993"
      - "4190:4190"
      - "110:110"
      - "995:995"
    environment:
      <<: *env
      ADMIN_SECRET: "{plain}accounts"
      MAIL_STALWART_PATH: "/opt/stalwart"

  keycloak:
    #image: quay.io/keycloak/keycloak:latest
    build:
      context: .
      dockerfile: Dockerfile.keycloak
    ports:
      - "8999:8999"
      - "9000:9000"
    # If you need to export the realm uncomment this. You'll see the data in ./keycloak/data/export
    #entrypoint: '/opt/keycloak/bin/kc.sh export --dir /opt/keycloak/data/export'
    environment:
      KC_HTTP_PORT: 8999
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info
      KC_DB: "postgres"
      KC_DB_URL_HOST: "kcpostgres"
      KC_DB_URL_PORT: '5434'
      KC_DB_USERNAME: "kc"
      KC_DB_PASSWORD: "kc"
      KC_DEV: yes  # Run the container with start-dev instead of start
      KC_SPI_THEME_WELCOME_THEME: "tbpro"
      KC_TBPRO_HOME: "http://localhost:8087/"
      KC_TBPRO_PRIMARY_DOMAIN: "example.org"
    volumes:
      - "./keycloak/themes:/opt/keycloak/themes"
      - "./keycloak/data/export:/opt/keycloak/data/export"

  # Capturing keycloak emails for dev
  mailpit:
    image: axllent/mailpit
    environment:
      - MP_SMTP_AUTH_ALLOW_INSECURE=true
    ports:
      - "8025:8025" # Web UI
      - "1025:1024" # SMTP
volumes:
  db: {}
  kcdb: {}
  cache: {}
