{% extends "admin/base_site.html" %}
{% block content %}
<section>
  <h1>Stalwart Principals</h1>
  <p>This is an read-only view of the data on Stalwart/Thundermail.</p>
  <br/>

  <p>Displaying {{ items|length }} principal objects</p>
  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>Type</td>
      <td>Name</td>
      <td>Description (Keycloak username for users)</td>
      <td>Emails</td>
      <td>Roles</td>
      <td>Members</td>
      <td>Used Quota / Quota (bytes)</td>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.emails }}</td>
      <td>{{ item.roles }}</td>
      <td>{{ item.members }}</td>
      <td>{{ item.quota_used }} / {{ item.quota }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div>
    <br/>
    <br/>
    <br/>
    <br/>
    {% csrf_token %}
    <pre id="output"></pre>
  </div>
  <small>Principal objects are the "everything" or "polymorphic" object in Stalwart. They differ by <code>type</code>
    but store their data in nearly the same base fields.</small>
</section>
{% endblock content %}
