@import "fonts.css";

:root {
  --border-color: #273347;
  --background-color: #1a202c;
  --border-radius: 4px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--background-color);
  color: white;

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

header {
  padding-top: 1.75rem;
  margin-bottom: 3rem;
  text-align: center;

  h1 {
    margin-top: 0.75rem;
  }

  h2 {
    margin-top: 0.75rem;
    color: #909fb4;
    font-size: 1rem;
    font-weight: 300;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.callout {
  border: 0.063rem solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  margin-top: 1.5rem;
}

code {
  color: #5695e1;
  font-size: 1rem;
  font-weight: 600;
}

.output code {
  color: #bbc7d3;
  font-size: 0.9rem;
  text-wrap: wrap;
  font-weight: 300;
}

.form-container {
  border-radius: var(--border-radius);
  background-color: #1e293b;
  padding: 1.25rem 1rem;
  margin-top: 1.5rem;

  h3 {
    margin-bottom: 1rem;
  }
}

.form-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  > :first-child {
    flex: 1;
  }

  > :last-child {
    flex: 0;
  }

  @media (max-width: 25rem) {
    flex-direction: column;
  }
}

input[type="email"] {
  font-size: 1rem;
  color: #9ba2ae;
  background-color: var(--background-color);
  border: 0.063rem solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.15rem;
  padding-left: 0.5rem;
  line-height: 2.5rem;
  max-width: 100%;
}

input[type="submit"] {
  background-color: #0060df;
  border-width: 0;
  color: white;
  padding: 0 1rem;
  border-radius: var(--border-radius);
  font-size: 0.875rem;

  @media (max-width: 25.0rem) {
    min-height: 2rem;
  }
}

.tb-logo {
  display: flex;
  justify-content: center;
  margin: 2.25rem auto 4.0rem;

  svg {
    width: 3rem;
    height: auto;
  }
}


#footer {
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
  min-height: 10rem;
  display: flex;
  color: #e4e4e7;
  background-color: black;
  line-height: 1.6;

  a {
    --legal-txt: #e4e4e7;
    color: var(--legal-txt);
    text-decoration-color: var(--legal-txt);
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.12em;
    text-decoration-style: solid;
    transition: font-size 0.2s, text-decoration-color 0.2s;
  }

  svg {
    width: 100%;
    height: 100%
  }

  .mzla {
    display: grid;
    place-items: center;
    gap: 0.9375rem;
    text-align: center;
    max-inline-size: 75ch;

    position: relative;
    padding-inline: 1rem;
    padding-block: clamp(1rem, 5.469vw, 4.375rem);
    margin-inline: auto;
    max-width: 1280px;
    overflow: hidden;
  }

  .mozilla-logo {
    --accent: white;
    width: 7.6875rem;
    max-width: 100%;
  }

  .legal-links {
    font-size: 0.9rem;
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
