{% extends "admin/login.html" %}
{% load helpers %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        #content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

    </style>
{% endblock %}

{% block content %}
    <section class="alternative-login-section">
      {% get_admin_login_code as login_code %}
      <a href="{% url 'fxa_login' login_code=login_code %}">Log in with Mozilla Accounts 🔗</a>
    </section>
{% endblock %}