{% extends 'base.html' %}
{% load helpers %}
{% block extra_page_params %}
  hasAccount: {{ has_account|to_json }},
  hasActiveSubscription: {{ has_active_subscription|to_json }}
{% endblock %}
{% block nav %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
          {{ message }}
      </li>
      {% endfor %}
  </ul>
  {% endif %}
  <p>Welcome back {{ user.display_name }}.</p>
  {% include 'mail/self-serve/_nav.html' %}
{% endblock %}
