{% extends 'mail/self-serve/_base.html' %}
{% load static %}
{% block page_heading %}
  <h2>Self Serve - Subscription</h2>
{% endblock %}
{% block body %}
<p>this is the subscription page for the paddle.js overlay</p>
<div class="pricing-page-container">
  <h1>Choose your plan</h1>
  <div id="loading-icon">
    <img alt="" src="{% static 'img/cc_loading-icon.gif' %}"/>
  </div>
  <div class="pricing-grid" id="pricing-grid">
  </div>
</div>
<script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>
<script>
  const loadingIcon = document.querySelector('#loading-icon');
  const pricingGrid = document.querySelector('#pricing-grid');

  pricingGrid.style.display = 'none';
  Paddle.Environment.set("sandbox");
  Paddle.Initialize({
    token: "{{ paddle_token }}"
  });
  const items = [
    {% comment %}
      Output each item_id from the template var
    {% endcomment %}
    {% for item_id in paddle_item_id_list %}
    {
      quantity: 1,
      priceId: '{{ item_id }}',
    },
    {% endfor %}
  ];

  Paddle.PricePreview({items})
    .then((result) => {
      console.log(result);
      const { lineItems } = result.data.details;
      for (const item of lineItems ) {
        const { total } = item.formattedTotals;
        const { name, description } = item.price;
        pricingGrid.appendChild(createPriceItem({
          total,
          name,
          description
        }));
      }
      loadingIcon.style.display = 'none';
      pricingGrid.style.display = 'block';
    })
    .catch((error) => {
      console.error(error);
    });

  function createPriceItem(item) {
    const { name, description, total } = item;
    const itemContainer = document.createElement('div');
    const nameEl = document.createElement('h3');
    const descriptionEl = document.createElement('p');
    const priceEl = document.createElement('p');
    const button = document.createElement('button');
    nameEl.textContent = name;
    descriptionEl.textContent = description;
    priceEl.textContent = total;
    button.textContent = `Select ${name}`;
    itemContainer.appendChild(nameEl);
    itemContainer.appendChild(descriptionEl);
    itemContainer.appendChild(priceEl);
    itemContainer.appendChild(button);
    return itemContainer;
  }
</script>
{% endblock %}
