@import './fonts.css';
@import './bolt.css';


* {
  box-sizing: border-box;
}

html,
body,
div#app {
  min-height: 100vh;
  margin: 0;
  font-family: Inter, "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-neutral-base);
}

h2 {
  font-size: 2.25rem;
  font-family: metropolis;
  font-weight: normal;
  letter-spacing: -0.36px;
  line-height: 1.2;
  color: var(--colour-primary-default);
  margin: 0 0 1.5rem 0;
}

.route-found {
  .hide-if-route-is-found {
    display: none;
  }
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
