# Accounts E2E Test Configuration
ACCTS_TARGET_ENV=stage

# URLs
ACCTS_SELF_SERVE_URL=https://accounts-stage.tb.pro/self-serve/
ACCTS_EMAIL_SIGN_UP_URL=https://accounts-stage.tb.pro/sign-up/

# Host / ports / domains
ACCTS_HOST=stage-thundermail.com
IMAP_PORT=993
JMAP_PORT=7768
SMTP_PORT=465
EMAIL_SIGN_UP_DOMAIN=stage-thundermail.com

# Sign-in credentials
ACCTS_FXA_EMAIL=
ACCTS_FXA_PWORD=

# A Thundermail email is required to be set up within the tb account
THUNDERMAIL_USERNAME=
THUNDERMAIL_EMAIL_ADDRESS=

# The customer email address to use in Paddle checkout form
EMAIL_SIGN_UP_DOMAIN=