# Accounts E2E Test Configuration
ACCTS_TARGET_ENV=dev

# URLs
ACCTS_SELF_SERVE_URL=http://localhost:8087/self-serve/
ACCTS_EMAIL_SIGN_UP_URL=http://localhost:8087/sign-up/
ACCTS_CONTACT_URL=http://localhost:8087/contact/

# Host / ports / domains
ACCTS_HOST=localhost
IMAP_PORT=143
IMAP_TLS="None"
JMAP_PORT=443
JMAP_TLS="SSL/TLS"
SMTP_PORT=25
SMTP_TLS="None"
EMAIL_SIGN_UP_DOMAIN=example.org

# Sign-in credentials
ACCTS_OIDC_EMAIL=admin@example.org
ACCTS_OIDC_PWORD=admin

# A Thundermail email is required to be set up within the tb account
THUNDERMAIL_USERNAME=admin@example.org
THUNDERMAIL_EMAIL_ADDRESS=admin@example.org

# The customer email address to use in Paddle checkout form
EMAIL_SIGN_UP_ADDRESS=melissa+test@thunderbird.net

# Custom OIDC paths since this runs from outside the Docker context
OIDC_URL_AUTH=http://localhost:8999/realms/tbpro/protocol/openid-connect/auth
OIDC_URL_TOKEN=http://localhost:8999/realms/tbpro/protocol/openid-connect/token
OIDC_URL_USER=http://localhost:8999/realms/tbpro/protocol/openid-connect/userinfo
OIDC_URL_JWKS=http://localhost:8999/realms/tbpro/protocol/openid-connect/certs
OIDC_URL_LOGOUT=http://localhost:8999/realms/tbpro/protocol/openid-connect/logout