# Accounts E2E Test Configuration
ACCTS_TARGET_ENV=dev

# URLs
ACCTS_SELF_SERVE_URL=http://localhost:8087/self-serve/
ACCTS_EMAIL_SIGN_UP_URL=http://localhost:8087/sign-up/

# Sign-in (FxA) credentials
ACCTS_FXA_EMAIL=
ACCTS_FXA_PWORD=
