# Accounts E2E Test Configuration
ACCTS_TARGET_ENV=prod

# URLs
ACCTS_HUB_URL=https://accounts.tb.pro

# This url aligns with the .env value for tb accounts backend
TB_PRO_WAIT_LIST_URL=https://tb.pro/waitlist/

# Host / ports / domains
ACCTS_HOST=mail.thundermail.com
IMAP_PORT=993
JMAP_PORT=443
SMTP_PORT=465

# Sign-in credentials
ACCTS_OIDC_EMAIL=
ACCTS_OIDC_PWORD=
ACCTS_RECOVERY_EMAIL=

# Thundermail associated with the above account
PRIMARY_THUNDERMAIL_EMAIL=
