# Accounts E2E Test Configuration
ACCTS_TARGET_ENV=stage

# URLs
ACCTS_SELF_SERVE_URL=https://accounts-stage.tb.pro/self-serve/
ACCTS_EMAIL_SIGN_UP_URL=https://accounts-stage.tb.pro/sign-up/

# Sign-in (FxA) credentials
ACCTS_FXA_EMAIL=
ACCTS_FXA_PWORD=
