{% load django_vite %}
{% load helpers %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}Thunderbird Accounts Hub{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  {% vite_hmr_client %}
  {% vite_asset 'assets/app/app.ts' %}
</head>
<body>
{% csrf_token %}
<script>
  {% get_form_error_message as form_error %}

  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
  // Site object
  window._page = {
    csrfToken: csrfToken.value,
    isAuthenticated: {{ user.is_authenticated|to_json }},
    hasActiveSubscription: {{ user.has_active_subscription|default:False|to_json|safe }},
    isAwaitingPaymentVerification: {{ user.is_awaiting_payment_verification|default:False|to_json|safe }},
    userEmail: {{ user.email|to_json|safe }},
    userFullName: {{ user.get_full_name|to_json|safe }},
    userDisplayName: {{ user_display_name|to_json|safe }},
    formError: {{ form_error|to_json|safe|default:'null' }},
    connectionInfo: {{ connection_info|to_json|safe }},
    appPasswords: {{ app_passwords|safe }},
    allowedDomains: {{ allowed_domains|safe }},
    customDomains: {{ custom_domains|safe }},
    emailAddresses: {{ email_addresses|safe }},
    maxCustomDomains: {{ max_custom_domains|to_json|safe }},
    maxEmailAliases: {{ max_email_aliases|to_json|safe }},
    tbProAppointmentUrl: {{ tb_pro_appointment_url|to_json|safe }},
    tbProSendUrl: {{ tb_pro_send_url|to_json|safe }},
    {% block extra_page_params %}{% endblock %}
  };
  csrfToken.remove();
</script>
<div id="app"></div>
</body>
</html>
