{% extends 'base.html' %} {% block body %}
<h1>Join the waitlist</h1>
<div id="mcWaitlistForm">
  <!-- Begin Mailchimp Waitlist Form -->
  <form
    action="#"
    class="waitlist-form"
    method="post"
    id="mc-embedded-waitlist-form"
    name="mc-embedded-waitlist-form"
  >
    <input
      id="mce-EMAIL"
      name="EMAIL"
      type="email"
      placeholder="{{ _('Your Email') }}"
      required=""
    />
    <button
      type="submit"
      id="mc-embedded-waitlist"
      class="btn btn-no-bg btn-waitlist btn-waitlist-text"
    >
      {{_('Subscribe')}}
    </button>
    <button
      type="submit"
      id="mc-embedded-subscribe"
      class="btn btn-no-bg btn-waitlist btn-waitlist-icon"
    >
      ➜
    </button>
    <!-- Prevent Bot waitlists -->
    <div style="position: absolute; left: -5000px" aria-hidden="true">
      <input
        type="text"
        name="b_f8051cc8637cf3ff79661f382_9badb0cec2"
        tabindex="-1"
        value=""
      />
    </div>
  </form>
  <!--End mc_embed_waitlist-->
</div>
{% endblock %}
