---
name: deploy-stage

concurrency:
  group: deploy-stage
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    env:
      IS_CI_AUTOMATION: "yes"
    outputs:
      src-changed: ${{ steps.check.outputs.src-changed }}
      keycloak-theme-changed: ${{ steps.check.outputs.keycloak-theme-changed }}
      iac-changed: ${{ steps.check.outputs.iac-changed }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: check
        with:
          filters: |
            src-changed:
              - 'assets/**'
              - 'static/**'
              - 'templates/**'
              - 'scripts/entry.sh'
              - 'Dockerfile'
              - 'manage.py'
              - 'MANIFEST.in'
              - 'package.json'
              - 'package-lock.json'
              - 'pyproject.toml'
              - 'README.md'
              - 'src/**'
              - 'uv.lock'
              - 'vite.config.mjs'
            keycloak-theme-changed:
              - 'keycloak/themes/**'
              - 'Dockerfile.keycloak'
            iac-changed:
              - 'pulumi/**'
              - '.github/**'

  # When accounts changes are merged in, build and push a new Docker image
  accounts-deploy:
    needs: detect-changes
    if: needs.detect-changes.outputs.src-changed == 'true' || needs.detect-changes.outputs.iac-changed == 'true'
    environment: staging
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    env:
      IS_CI_AUTOMATION: "yes"
      PULUMI_DIR: "pulumi"
      CELERY_WORKER_TAG: '-celery-worker'
    steps:
      # Preparation for future steps
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: "true"

      # Produce a container image
      - name: Build, tag, and push accounts image to Amazon ECR
        id: build-accounts
        env:
          ECR_TAG: "${{ steps.login-ecr.outputs.registry }}/${{ vars.PROJECT }}:${{ github.sha }}"
        run: |
          # Build a docker container and push it to ECR so that it can be deployed to ECS.
          docker build -t $ECR_TAG --platform="linux/amd64" .          
          docker push $ECR_TAG
          echo "accounts-image=$ECR_TAG" >> $GITHUB_OUTPUT

      - name: Get version from pyproject.toml
        id: read-version
        uses: SebRollen/toml-action@v1.2.0
        with:
          file: 'pyproject.toml'
          field: 'project.version'

      - name: Produce an artifact containing the tag and version
        id: create-artifact
        run: |
          echo '{"ecr_tag": "${{ steps.build-accounts.outputs.accounts-image }}", "version": "${{ steps.read-version.outputs.value }}"}' > deployment.json

      - name: Archive the deployment artifact
        id: tag-archive
        uses: actions/upload-artifact@v4
        with:
          name: deployment
          path: deployment.json
      
      - name: Package Pulumi code
        run: |
          tar -cvjf pulumi.tbz pulumi/
      
      - name: Archive the Pulumi artifact
        id: iac-archive
        uses: actions/upload-artifact@v4
        with:
          name: pulumi
          path: pulumi.tbz
      
      # Deploy to stage
      - name: Deploy new image to stage
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: |
          # Update the PATH to include the right version of Pulumi; this is non-trivial or impossible
          # to do with the GHA workflow "env" settings above.
          export PATH="/home/runner/.pulumi/bin:$PATH"
          export PULUMI_CONFIG_PASSPHRASE='${{ secrets.PULUMI_PASSPHRASE }}'

          ECR_TAG=$(jq -r .ecr_tag < deployment.json)
          cd $PULUMI_DIR

          # Create a YAML config stump containing only the nested tree leading to the image tag update
          cat << EOF > newimage.yaml
          resources:
            tb:fargate:FargateClusterWithLogging:
              accounts:
                task_definition:
                  container_definitions:
                    accounts:
                      image: "$ECR_TAG"
              accounts-celery:
                task_definition:
                  container_definitions:
                    accounts:
                      image: "$ECR_TAG"
          EOF

          # Use yq to merge the stump into the main config
          yq -i '. *= load("newimage.yaml")' config.stage.yaml

          pulumi login
          pulumi stack select thunderbird/stage
          pulumi up -y --diff \
            --target 'urn:pulumi:stage::accounts::tb:fargate:FargateClusterWithLogging$aws:ecs/taskDefinition:TaskDefinition::accounts-stage-fargate-accounts-taskdef' \
            --target 'urn:pulumi:stage::accounts::tb:fargate:FargateClusterWithLogging$aws:ecs/taskDefinition:TaskDefinition::accounts-stage-fargate-accounts-celery-taskdef' \
            --target-dependents

  # When accounts changes are merged in, build and push a new Docker image
  keycloak-deploy:
    needs: detect-changes
    if: needs.detect-changes.outputs.keycloak-theme-changed == 'true' || needs.detect-changes.outputs.iac-changed == 'true'
    environment: staging
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    env:
      IS_CI_AUTOMATION: "yes"
      PULUMI_DIR: "pulumi"
      KEYCLOAK_TAG: '-keycloak'
    steps:
      # Preparation for future steps
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-central-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: "true"

      # Produce a container image
      - name: Build, tag, and push accounts image to Amazon ECR
        id: build-keycloak
        env:
          ECR_TAG: "${{ steps.login-ecr.outputs.registry }}/${{ vars.PROJECT }}:keycloak-${{ github.sha }}"
        run: |
          # Build a docker container and push it to ECR so that it can be deployed to ECS.
          docker build -f Dockerfile.keycloak -t $ECR_TAG --platform="linux/amd64" .          
          docker push $ECR_TAG
          echo "keycloak-image=$ECR_TAG" >> $GITHUB_OUTPUT

      - name: Get version from pyproject.toml
        id: read-version
        uses: SebRollen/toml-action@v1.2.0
        with:
          file: 'pyproject.toml'
          field: 'project.version'

      - name: Produce an artifact containing the tag and version
        id: create-artifact
        run: |
          echo '{"ecr_tag": "${{ steps.build-keycloak.outputs.keycloak-image }}", "version": "${{ steps.read-version.outputs.value }}"}' > deployment.json

      - name: Archive the deployment artifact
        id: tag-archive
        uses: actions/upload-artifact@v4
        with:
          name: deployment-keycloak
          path: deployment.json

      - name: Package Pulumi code
        shell: bash
        run: |
          tar -cvjf pulumi.tbz pulumi/

      - name: Archive the Pulumi artifact
        id: iac-archive
        uses: actions/upload-artifact@v4
        with:
          name: pulumi-keycloak
          path: pulumi.tbz

      # Deploy to stage
      - name: Deploy new image to stage
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: |
          # Update the PATH to include the right version of Pulumi; this is non-trivial or impossible
          # to do with the GHA workflow "env" settings above.
          export PATH="/home/runner/.pulumi/bin:$PATH"
          export PULUMI_CONFIG_PASSPHRASE='${{ secrets.PULUMI_PASSPHRASE }}'

          ECR_TAG=$(jq -r .ecr_tag < deployment.json)
          cd $PULUMI_DIR

          # Create a YAML config stump containing only the nested tree leading to the image tag update
          cat << EOF > newimage.yaml
          resources:
            tb:fargate:FargateClusterWithLogging:
              keycloak:
                task_definition:
                  container_definitions:
                    keycloak:
                      image: "$ECR_TAG"
          EOF

          # Use yq to merge the stump into the main config
          yq -i '. *= load("newimage.yaml")' config.stage.yaml

          source ./venv/bin/activate
          pulumi login
          pulumi stack select thunderbird/stage
          pulumi up -y --diff \
            --target 'urn:pulumi:stage::accounts::tb:fargate:FargateClusterWithLogging$aws:ecs/taskDefinition:TaskDefinition::accounts-stage-fargate-keycloak-taskdef' \
            --target-dependents
  

  create-release:
    needs: accounts-deploy
    if: needs.accounts-deploy.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download deployment data
        uses: actions/download-artifact@v4
        with:
            name: 
              deployment  # Should pull "deployment.json"
      
      - name: Download Pulumi package
        uses: actions/download-artifact@v4
        with:
            name: 
              pulumi  # Should pull "pulumi.tbz"
      
      - name: Create release tag
        id: create-release-tag
        run: echo "tag_name=r-$(printf %04d $GITHUB_RUN_NUMBER)" >> $GITHUB_OUTPUT

      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          body: |
            ## Info
            
            Commit ${{ github.sha }} was deployed to `stage`. [See code diff](${{ github.event.compare }}).

            It was initialized by [${{ github.event.sender.login }}](${{ github.event.sender.html_url }}).

            ## How to Promote?

            In order to promote this to prod, edit the draft and press **"Publish release"**.
          draft: true
          fail_on_unmatched_files: true
          files: |
            deployment.json
            pulumi.tbz
          name: Release ${{ steps.create-release-tag.outputs.tag_name }}
          tag_name: ${{ steps.create-release-tag.outputs.tag_name }}
        
  e2e-tests-browserstack-stage:
    name: e2e-tests-browserstack-stage
    needs: accounts-deploy
    if: '!cancelled()'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}/cached-devcontainer:latest
    environment: staging
    env:
      ACCTS_FXA_EMAIL: ${{ secrets.E2E_ACCTS_FXA_EMAIL }}
      ACCTS_FXA_PWORD: ${{ secrets.E2E_ACCTS_FXA_PWORD }}
      FXA_CLIENT_ID: ${{ secrets.E2E_ACCTS_FXA_CLIENT_ID }}
      FXA_SECRET: ${{ secrets.E2E_ACCTS_FXA_SECRET }}
      SECRET_KEY: ${{ secrets.E2E_ACCTS_SECRET_KEY }}
      LOGIN_CODE_SECRET: ${{ secrets.E2E_ACCTS_LOGIN_CODE_SECRET }}
      FXA_ENCRYPT_SECRET: ${{ secrets.E2E_ACCTS_FXA_ENCRYPT_SECRET }}
      THUNDERMAIL_USERNAME: ${{ secrets.E2E_THUNDERMAIL_USERNAME }}
      THUNDERMAIL_EMAIL_ADDRESS: ${{ secrets.E2E_THUNDERMAIL_EMAIL_ADDRESS }}
      EMAIL_SIGN_UP_ADDRESS: ${{ secrets.E2E_ACCTS_PADDLE_EMAIL_SIGN_UP_ADDRESS }}
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          cd ./test/e2e
          npm install

      - name: BrowserStack Env Setup
        uses: browserstack/github-actions/setup-env@master
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          project-name: 'Thunderbird Accounts'
          build-name: 'TB Accounts E2E Tests: BUILD_INFO'

      - name: Run E2E Tests on stage via Browserstack
        run: |
          cd ./test/e2e
          cp .env.stage.example .env
          npm run e2e-test-browserstack-gha
